@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #10182a;
}
.log-form h1 {
    font-size: 36px;
    text-align: center;
    color: #dadada;
    
}
.log-form {
    width: 500px; 
    background: #1a293f;
    border: solid 0;
    border-radius: 10px;
} 
.log-form .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
    display: flex;
    justify-content: center;
}
.input-box input{
    height: 100%;
    width: 85%;
    background-color: #040913;
    border-radius: 8px;
    color: #fff;
    padding: 0 20px;
    
}
.rem-for{
    display: flex;
    justify-content: space-between;
    margin: 0 40px 0;
    
}
.input-box input::placeholder{
    color:  #dadada;
}
.log-form .btn{
    display: flex;
    width: 400px;
    height: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 50px 0;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: 800;

}
.register{
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}
.rem-for a{
    text-decoration: none;
}
.rem-for a:hover{
    text-decoration: underline;
}
.rem-for label input{
    cursor: pointer;
}
.register  a{
    text-decoration: none;
    color: #dadada;
}
.register p{
    color: #dadada;
}
.register a:hover{
    text-decoration: underline;
    cursor: pointer;
}
